<html>
  <head>
    <title> <%= title %> </title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1 class="title"> <%= title %> </h1>
    <form method="POST" action="/new" class="form-container">
      <div class="input-container">
        <label for="author">Author</label>
        <input type="text" id="author" name="author">
      </div>
      
      <div class="input-container">
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="5"></textarea>
      </div>

      <input type="submit" value="Send Message" class="min-content">
    </form>
  </body>
</html>