<html>
  <head>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <ul>
        <% for (let i = 0; i < messages.length; i++) { %>
          <li>
            <span> <%= messages[i].text %> </span>
          </li>
        <% } %>
      </ul>
  </body>
</html>