.title {
  padding-left: 8px;
  padding-top: 8px;
}

.messages-container {
  display: flex;
  flex-direction: column;
  gap: 2em;

  padding: 8px;
}

.message-container {
  display: flex;
  flex-direction: column;
}

.message-user {
  font-size: small;
  font-weight: bold;
}

.message-date {
  font-size: small;
  font-weight: lighter;
}

